<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.css}"/>
    <style>

.btn0{
    background-color: royalblue;
    border-radius: 10px;
    color:white;
}

.btn0:hover{
    background-color: cornflowerblue;
}

a{
text-decoration: none;
    color: white;
}

    </style>
</head>
<body>
    <div class="container">
        <h3 class="text-center">Customer Details</h3>
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered table-striped">
                    <thead class="table-dark">
                        <tr>
                        
                             <th>id</th>
                            <th>destination</th>
                            <th>firstname</th>
                            <th>lastname</th>
                            <th>mobile_no</th>
                            <th>email</th>
                            <th>flight_no</th>
                            <th>flight_bill</th>
                            <th>hotel_name</th>
                            <th>hotel_bill</th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="custDetail: ${Packages}">
                            <td th:text="${custDetail.id}"></td>
                            <td th:text="${custDetail.destination}"></td>
                            <td th:text="${custDetail.firstname}"></td>
                            <td th:text="${custDetail.lastname}"></td>
                            <td th:text="${custDetail.mobile_no}"></td>
                            <td th:text="${custDetail.email}"></td>
                            <td th:text="${custDetail.flight_no}"></td>
                            <td th:text="${custDetail.flight_bill}"></td>
                            <td th:text="${custDetail.hotel_name}"></td>
                            <td th:text="${custDetail.hotel_bill}"></td>
                    
                        </tr>
                    </tbody>
                   
                </table>
                <button type="btn" class="btn0"><a th:href="@{/}">Pay</a></button>
            
            </div>
        </div>
    </div>





    <script src="@{js/bootstrap.js}"></script>
</body>
</html>