<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{css/Travel_style.css}" />
    <style>

.btn0{
    background-color: royalblue;
    border-radius: 10px;
    color:white;
}

.btn0:hover{
    background-color: cornflowerblue;
}

a{
text-decoration: none;
    color: white;
}

.cust_booking{
    padding-top: 150px;
}

    </style>
</head>
<body>

    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
          <div class="container-fluid">
    
            <div class="logo"><img src="images/logo1.png" class="lo1"> </div>
    
  
            <!-- toggler -->
            <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!-- sidebar -->
            <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
              aria-labelledby="offcanvasNavbarLabel">
              <!-- sidebar-header -->
              <div class="offcanvas-header text-white border-bottom shadow-none">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Travelista</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
              </div>
              <!-- sidebar-body -->
              <div class="offcanvas-body d-flex flex-column p-4 p-lg-0">
                <ul class="navbar-nav justify-content-center align-items-center flex-grow-1 pe-4 text-white">
                  <li class="nav-item">
                    <a class="nav-link anchor mx-2" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link anchor  mx-2" href="#about1">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link anchor  mx-2" href="#service1">Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link anchor  mx-2" href="#desti1">Destinations</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link anchor  mx-2" href="#faq1">FAQ's</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link anchor  mx-2" href="#footer1">Contact</a>
                  </li>
                  <!-- sign in & Add to Cart -->
                  <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center flex-grow-3 gap-3">
                    <li class="menu-list">
                      <a href="#"><i class="fab fa-facebook"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
    
                    </li>
                  </div>
    
                  <a th:href="@{/showLogin}"><button id="loginButton" class="buttonn1">Login</button></a>
                </ul>
                 
              </div>
            </div>
          </div>
        </nav>
      </header>
    


    <div class="container cust_booking">
        <h3 class="text-center">Customer Directory</h3>
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th>id</th>
                            <th>destination</th>
                            <th>flag</th>
                            <th>flight_no</th>
                            <th>flight_rate</th>
                            <th>hotel_name</th>
                            <th>hotel_rate</th>
                            <th>package Booking</th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="tempCustomer: ${listing}">
                            <td th:text="${tempCustomer.id}"></td>
                            <td th:text="${tempCustomer.destination}"></td>
                            <td th:text="${tempCustomer.flag}"></td>
                            <td th:text="${tempCustomer.flight_no}"></td>
                            <td th:text="${tempCustomer.flight_rate}"></td>
                            <td th:text="${tempCustomer.hotel_name}"></td>
                            <td th:text="${tempCustomer.hotel_rate}"></td>

                            <td><form action="#" th:action="@{booking}" method="POST">

								<input type="hidden" name="id" th:value="${tempCustomer.id}"/>
								<button type="submit" class="btn btn-info btn-sm me-1" style="float:left;">Book</button>

							</form></td>
                            
                           
                         
                        </tr>
                    </tbody>
                   
                </table>
                <button type="btn" class="btn0"><a th:href="@{/return}">Back to home page</a></button>
            </div>
        </div>
    </div>

    <div class="container-fluid footer" id="footer1">
        <div class="footer-inside">
          <h3 class="subscribe">Subscribe to our contents</h3>
          <button class="btn6">
            <span class="circle6">
              <span class="arrow6"></span>
            </span>
            <span class="text6">Subscribe</span>
          </button>
    
        </div>
        <div class="row">
    
          <div class="col-12 last">
            <div class="row">
    
              <div class="col-lg-3 col-md-6 col-sm-12 travelista">
                <h2 class="heading12" id="head-footer">Travelista</h2>
                <p class="heading13">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde accusantium cupiditate
                  quo exercit assume asperiores facilis itaque voluptatibus culpa authy vaftl paiual !</p>
                <a href="#" class="an"><i class="fab fa-facebook"></i></a>
                <a href="#" class="an"><i class="fab fa-twitter"></i></a>
                <a href="#" class="an"><i class="fab fa-pinterest"></i></a>
                <a href="#" class="an"><i class="fab fa-instagram"></i></a>
              </div>
    
              <div class="col-lg-3 col-md-6 col-sm-12">
                <ul class="footer-ul">
                  <h2 class="heading12">Infromation</h2>
                  <li class="footer-list"><a href="#" class="footer-anchor">Online Enquiry</a></li>
                  <li class="footer-list"><a href="#" class="footer-anchor">General Enquiries</a></li>
                  <li class="footer-list"><a href="#" class="footer-anchor">Booking Conditions</a></li>
                  <li class="footer-list"><a href="#" class="footer-anchor">Privacy and Policy</a></li>
                  <li class="footer-list"><a href="#" class="footer-anchor">Refund Policy</a></li>
                  <li class="footer-list"><a href="#" class="footer-anchor">Call Us</a></li>
    
                </ul>
    
              </div>
    
              <div class="col-lg-3 col-md-6 col-sm-12">
                <ul class="footer-ul">
                  <h2 class="heading12">Experience</h2>
                  <li class="footer-list"><a href="#" class="footer-anchor">Adventure</a></li>
                  <li class="footer-list"><a href="#" class="footer-anchor">Hotel and Restaurant</a></li>
                  <li class="footer-list"><a href="#" class="footer-anchor">Beach</a></li>
                  <li class="footer-list"><a href="#" class="footer-anchor">Nature</a></li>
                  <li class="footer-list"><a href="#" class="footer-anchor">Camping</a></li>
                  <li class="footer-list"><a href="#" class="footer-anchor">Party</a></li>
    
                </ul>
    
              </div>
    
              <div class="col-lg-3 col-md-6 col-sm-12">
                <h2 class="heading12">Have a Question?</h2>
                <p class="para"><i class="ri-map-pin-line"></i> Bandra East,Kala Nagar, Mumbai</p>
                <p class="para"><i class="ri-phone-line"></i> + (0712) 819 79 555 </p>
                <p class="para"> <i class="ri-mail-send-line"></i> info@example.com</p>
    
    
              </div>
    
            </div>
          </div>
        </div>
    
      </div>
      <div class="container-fluid copyright ">
        <div class="row">
    
            <div class="col-12">
    
               <h5 class="headingCopy"> © Copyright 2024. All Rights Reserved.</h5>
            </div>
        </div>
    
      </div>
    
    





    <script src="@{js/bootstrap.js}"></script>
</body>
</html>